{% extends 'ingenico-gateway-pro/_layouts' %}
{% import '_includes/forms' as forms %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}


{% set title = 'Make test payment' %}
{% set selectedSubnavItem = 'test' %}
{% set crumbs = [
  { label: 'Manage Ingenico configurations' | t('ingenico-gateway-pro'), url: url('ingenico-gateway-pro/configuration') }
] %}
{% block header %}
  <div class="flex flex-nowrap">
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
  </div>
  <div class="flex">
  </div>
{% endblock %}

{% set currency = [] %}
{% set currency = currency|merge([{label: 'Choose a currency…'|t('app'), value: ''},]) %}
{% set currency = currency|merge([
                    {label: 'AFN', value: 'AFN'},
                    {label: 'EUR', value: 'EUR'},
                    {label: 'ALL', value: 'ALL'},
                    {label: 'DZD', value: 'DZD'},
                    {label: 'USD', value: 'USD'},
                    {label: 'AOA', value: 'AOA'},
                    {label: 'XCD', value: 'XCD'},
                    {label: 'ARS', value: 'ARS'},
                    {label: 'AMD', value: 'AMD'},
                    {label: 'AWG', value: 'AWG'},
                    {label: 'AUD', value: 'AUD'},
                    {label: 'AZN', value: 'AZN'},
                    {label: 'BSD', value: 'BSD'},
                    {label: 'BHD', value: 'BHD'},
                    {label: 'BDT', value: 'BDT'},
                    {label: 'BBD', value: 'BBD'},
                    {label: 'BYN', value: 'BYN'},
                    {label: 'BYR', value: 'BYR'},
                    {label: 'BZD', value: 'BZD'},
                    {label: 'XOF', value: 'XOF'},
                    {label: 'BMD', value: 'BMD'},
                    {label: 'INR', value: 'INR'},
                    {label: 'BTN', value: 'BTN'},
                    {label: 'BOB', value: 'BOB'},
                    {label: 'BOV', value: 'BOV'},
                    {label: 'BAM', value: 'BAM'},
                    {label: 'BWP', value: 'BWP'},
                    {label: 'NOK', value: 'NOK'},
                    {label: 'BRL', value: 'BRL'},
                    {label: 'BND', value: 'BND'},
                    {label: 'BGN', value: 'BGN'},
                    {label: 'BIF', value: 'BIF'},
                    {label: 'CVE', value: 'CVE'},
                    {label: 'KHR', value: 'KHR'},
                    {label: 'XAF', value: 'XAF'},
                    {label: 'CAD', value: 'CAD'},
                    {label: 'KYD', value: 'KYD'},
                    {label: 'CLP', value: 'CLP'},
                    {label: 'CLF', value: 'CLF'},
                    {label: 'CNY', value: 'CNY'},
                    {label: 'COP', value: 'COP'},
                    {label: 'COU', value: 'COU'},
                    {label: 'KMF', value: 'KMF'},
                    {label: 'CDF', value: 'CDF'},
                    {label: 'NZD', value: 'NZD'},
                    {label: 'CRC', value: 'CRC'},
                    {label: 'HRK', value: 'HRK'},
                    {label: 'CUP', value: 'CUP'},
                    {label: 'CUC', value: 'CUC'},
                    {label: 'ANG', value: 'ANG'},
                    {label: 'CZK', value: 'CZK'},
                    {label: 'DKK', value: 'DKK'},
                    {label: 'DJF', value: 'DJF'},
                    {label: 'DOP', value: 'DOP'},
                    {label: 'EGP', value: 'EGP'},
                    {label: 'SVC', value: 'SVC'},
                    {label: 'ERN', value: 'ERN'},
                    {label: 'ETB', value: 'ETB'},
                    {label: 'FKP', value: 'FKP'},
                    {label: 'FJD', value: 'FJD'},
                    {label: 'XPF', value: 'XPF'},
                    {label: 'GMD', value: 'GMD'},
                    {label: 'GEL', value: 'GEL'},
                    {label: 'GHS', value: 'GHS'},
                    {label: 'GIP', value: 'GIP'},
                    {label: 'GTQ', value: 'GTQ'},
                    {label: 'GBP', value: 'GBP'},
                    {label: 'GNF', value: 'GNF'},
                    {label: 'GYD', value: 'GYD'},
                    {label: 'HTG', value: 'HTG'},
                    {label: 'HNL', value: 'HNL'},
                    {label: 'HKD', value: 'HKD'},
                    {label: 'HUF', value: 'HUF'},
                    {label: 'ISK', value: 'ISK'},
                    {label: 'IDR', value: 'IDR'},
                    {label: 'XDR', value: 'XDR'},
                    {label: 'IRR', value: 'IRR'},
                    {label: 'IQD', value: 'IQD'},
                    {label: 'ILS', value: 'ILS'},
                    {label: 'JMD', value: 'JMD'},
                    {label: 'JPY', value: 'JPY'},
                    {label: 'JOD', value: 'JOD'},
                    {label: 'KZT', value: 'KZT'},
                    {label: 'KES', value: 'KES'},
                    {label: 'KPW', value: 'KPW'},
                    {label: 'KRW', value: 'KRW'},
                    {label: 'KWD', value: 'KWD'},
                    {label: 'KGS', value: 'KGS'},
                    {label: 'LAK', value: 'LAK'},
                    {label: 'LBP', value: 'LBP'},
                    {label: 'LSL', value: 'LSL'},
                    {label: 'ZAR', value: 'ZAR'},
                    {label: 'LRD', value: 'LRD'},
                    {label: 'LYD', value: 'LYD'},
                    {label: 'CHF', value: 'CHF'},
                    {label: 'MOP', value: 'MOP'},
                    {label: 'MKD', value: 'MKD'},
                    {label: 'MGA', value: 'MGA'},
                    {label: 'MWK', value: 'MWK'},
                    {label: 'MYR', value: 'MYR'},
                    {label: 'MVR', value: 'MVR'},
                    {label: 'MRO', value: 'MRO'},
                    {label: 'MUR', value: 'MUR'},
                    {label: 'XUA', value: 'XUA'},
                    {label: 'MXN', value: 'MXN'},
                    {label: 'MXV', value: 'MXV'},
                    {label: 'MDL', value: 'MDL'},
                    {label: 'MNT', value: 'MNT'},
                    {label: 'MAD', value: 'MAD'},
                    {label: 'MZN', value: 'MZN'},
                    {label: 'MMK', value: 'MMK'},
                    {label: 'NAD', value: 'NAD'},
                    {label: 'NPR', value: 'NPR'},
                    {label: 'NIO', value: 'NIO'},
                    {label: 'NGN', value: 'NGN'},
                    {label: 'OMR', value: 'OMR'},
                    {label: 'PKR', value: 'PKR'},
                    {label: 'PAB', value: 'PAB'},
                    {label: 'PGK', value: 'PGK'},
                    {label: 'PYG', value: 'PYG'},
                    {label: 'PEN', value: 'PEN'},
                    {label: 'PHP', value: 'PHP'},
                    {label: 'PLN', value: 'PLN'},
                    {label: 'QAR', value: 'QAR'},
                    {label: 'RON', value: 'RON'},
                    {label: 'RUB', value: 'RUB'},
                    {label: 'RWF', value: 'RWF'},
                    {label: 'SHP', value: 'SHP'},
                    {label: 'WST', value: 'WST'},
                    {label: 'STD', value: 'STD'},
                    {label: 'SAR', value: 'SAR'},
                    {label: 'RSD', value: 'RSD'},
                    {label: 'SCR', value: 'SCR'},
                    {label: 'SLL', value: 'SLL'},
                    {label: 'SGD', value: 'SGD'},
                    {label: 'XSU', value: 'XSU'},
                    {label: 'SBD', value: 'SBD'},
                    {label: 'SOS', value: 'SOS'},
                    {label: 'SSP', value: 'SSP'},
                    {label: 'LKR', value: 'LKR'},
                    {label: 'SDG', value: 'SDG'},
                    {label: 'SRD', value: 'SRD'},
                    {label: 'SZL', value: 'SZL'},
                    {label: 'SEK', value: 'SEK'},
                    {label: 'CHE', value: 'CHE'},
                    {label: 'CHW', value: 'CHW'},
                    {label: 'SYP', value: 'SYP'},
                    {label: 'TWD', value: 'TWD'},
                    {label: 'TJS', value: 'TJS'},
                    {label: 'TZS', value: 'TZS'},
                    {label: 'THB', value: 'THB'},
                    {label: 'TOP', value: 'TOP'},
                    {label: 'TTD', value: 'TTD'},
                    {label: 'TND', value: 'TND'},
                    {label: 'TRY', value: 'TRY'},
                    {label: 'TMT', value: 'TMT'},
                    {label: 'UGX', value: 'UGX'},
                    {label: 'UAH', value: 'UAH'},
                    {label: 'AED', value: 'AED'},
                    {label: 'USN', value: 'USN'},
                    {label: 'UYU', value: 'UYU'},
                    {label: 'UYI', value: 'UYI'},
                    {label: 'UZS', value: 'UZS'},
                    {label: 'VUV', value: 'VUV'},
                    {label: 'VEF', value: 'VEF'},
                    {label: 'VND', value: 'VND'},
                    {label: 'YER', value: 'YER'},
                    {label: 'ZMW', value: 'ZMW'},
                    {label: 'ZWL', value: 'ZWL'},
                    {label: 'XBA', value: 'XBA'},
                    {label: 'XBB', value: 'XBB'},
                    {label: 'XBC', value: 'XBC'},
                    {label: 'XBD', value: 'XBD'},
                    {label: 'XTS', value: 'XTS'},
                    {label: 'XAU', value: 'XAU'},
                    {label: 'XPD', value: 'XPD'},
                    {label: 'XPT', value: 'XPT'},
                    {label: 'XAG', value: 'XAG'},
                ]|sort
  ) %}

{% block actionButton %}
<div id="save-btn-container" class="btngroup submit">
  <button type="submit" id="test-sumit" class="btn submit">{{ 'Save'|t('ingenico-gateway-pro') }}</button>
</div>
{% endblock %}

{% set formAttributes = {
  'id': 'testForm',
  'method': 'post',
  'accept-charset': 'UTF-8',
  'data': {
      'saveshortcut': true,
      'saveshortcut-scroll': true,
      'confirm-unload': true,
      'delta': true,
  },
} %}

{% block blockContent %}
<form {{ attr(formAttributes) }}>
    {{ actionInput('ingenico-gateway-pro/transaction/test-payment') }}
    {% set csrfParam = craft.app.request.csrfParam %}
        {% set csrfToken = craft.app.request.csrfToken %}
    {{ csrfInput() }}   
    {{ forms.textField({
        first: true,
        label: 'Order Id',
        id: 'orderid',
        name: 'orderid',
        rows: '1',
        required: true,
    }) }}
    <p id="error_msg_orderid" style="display: none;color:#CF1124">{{'Order ID cannot be blank'}}</p>
    {{ forms.textField({
        first: true,
        label: 'Amount',
        id: 'amount',
        name: 'amount',
        rows: '1',
        required: true,
    }) }}
    <p id="error_msg_amount" style="display: none;color:#CF1124">{{'Amount cannot be blank'}}</p>
    {{ forms.selectField({
        first: true,
        label: 'Currency',
        id: 'currency',
        name: 'currency',
        rows: '1',
        value: data.defaultCurreny ?? null,
       required: true,
       options: currency,
    }) }}
    <p id="error_msg_currency" style="display: none;color:#CF1124">{{'Default currency cannot be blank'}}</p>
    {{ forms.textField({
      first: true,
      label: 'PSPID',
      id: 'pspid',
      name: 'pspid',
      rows: '1',
      readonly: true,
      value: data.pspid ?? '',
    }) }}
 
  
  {{ forms.textField({
      first: true,
      label: 'Post payment redirection',
      id: 'postredirect',
      name: 'postredirect',
      rows: '1',
      readonly: true,
      value: data.postredirect ?? '',
  }) }}
 
  {{ forms.textField({
      first: true,
      label: 'SHA1 BP',
      id: 'sha1_bp',
      name: 'sha1_bp',
      rows: '1',
      readonly: true,
      value: data.sha1_bp ?? '',
  }) }}
  
  {{ forms.textField({
      first: true,
      label: 'SHA1 AP',
      id: 'sha1_ap',
      name: 'sha1_ap',
      rows: '1',
      readonly: true,
      value: data.sha1_ap ?? '',
  }) }}


  <div id="save-btn-container" class="btngroup submit">
    <button type="submit" id="test-submit" class="btn submit">{{ 'Make payment'|t('ingenico-gateway-pro') }}</button>
  </div>

</form>


{% endblock %}

{% js %}


$(function() {
    
    $('#test-submit').click(function(){


        if($.trim($('#orderid').val()) == ''){
            $('#error_msg_orderid').css("display","block");
            $("#error_msg_orderid").prev().addClass('error-wrapper');
        return false;
    }
    if($.trim($('#amount').val()) == ''){
            $('#error_msg_amount').css("display","block");
            $("#error_msg_amount").prev().addClass('error-wrapper');
        return false;
    }

    
    });
    $('#orderid').focus(function(){
        $('#error_msg_orderid').css("display","none");
        $("#error_msg_orderid").prev().removeClass('error-wrapper');
    }
   );
   $('#amount').focus(function(){
        $('#error_msg_amount').css("display","none");
        $("#error_msg_amount").prev().removeClass('error-wrapper');
    }
   );

   $('#defaultCurreny').focus(function(){
    $('#error_msg_currency').css("display","none");
    $("#error_msg_currency").prev().removeClass('error-wrapper');
}
);
 
});


{% endjs %}



